.img
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly

  .pokemon-list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
